<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <span class="Login_Signup_headline">Bookers</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li><a class="glyphicon glyphicon-home home" href="/users/20065"> Home</a></li>
          <li><a class="glyphicon glyphicon-user users" href="/users"> Users</a></li>
          <li><a class="glyphicon glyphicon-book books" href="/books"> Books</a></li>
          <li><a class="glyphicon glyphicon-log-out logout" rel="nofollow" data-method="delete" href="/users/sign_out"> logout</a></li>
      <% else %>
          <li><a class="glyphicon glyphicon-home home" href="/"> Home</a></li>
          <li><a class="glyphicon glyphicon-link about" href="/home/about"> About</a></li>
          <li><a class="glyphicon glyphicon-edit sign_up" href="/users/sign_up"> sign up</a></li>
          <li><a class="glyphicon glyphicon-log-in sign_in" href="/users/sign_in"> login</a></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>

<div class="body">
  <div class="container">
    <p id="notice"></p>
    <div class="row">
      <div class="col-xs-3">
       <h2 class="books_headline" style="padding-top: 40px;">User info</h2>
       <table class="table">
        <tbody>
          <tr></tr> 
          <tr>
           <th>name</th>
           <th></th>
          </tr>
          <tr>
           <th>introduction</th>
           <th></th>
          </tr>
        </tbody>
       </table>

       <div class="row">
       <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_20065" href="/users/20065/edit"></a>
       </div>

      <h2>New book</h2>
      <%= form_for(@book, url: books_path) do |f| %>
      <% if @book.errors.any? %>
      <%= @book.errors.count %>件のエラーが発生しました
      <% @book.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
<% end %>
    <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="e56s5Disk6QISsVPvn78tWzC8bgIrqVwao7LlUR+sfjsavjlYIyiv3qDLJYCdolzirOsDEXHrB8h1dt9i48Utw==">
  　　<div class="field row">
    　<label for="book_title">Title</label>
    　<input class="col-xs-12 book_title" type="text" name="book[title]" id="book_title">
  　　</div>

  <div class="field row">
    <label for="book_opinion">Opinion</label>
    <textarea class="col-xs-12 book_body" name="book[body]" id="book_body"></textarea>
  </div>

  <div class="actions row">
    <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">
  </div>
</form>
  </div>

  <div class="col-xs-9">
    <h2 class="books_headline" style="padding-top: 40px;">Books</h2>

    <table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
</div>
</div>
</div>
</div>